.about {
  width: 100%;
  background: #2b2e44;
  margin-top: 0;
}
.about__img {
  padding: 5px;
}
.about__img img {
  width: 70%;
  height: 70%;
}
.common {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  color: white;
  font-family: 'Poppins SemiBold';
}
.mainContent {
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 10px auto;
}
.commonBorder {
  border-bottom: 2px solid #ff4a57;
}
.h-650 {
  height: 650px;
}
.alignCenter {
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.about__info {
  color: white;
  margin-top: 0px;
}
.about__info h1 {
  margin-bottom: 20px;
  font-family: 'Poppins Thin';
}

.about__info-p1 {
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Poppins Light';
}

.about__info-p2 {
  font-size: 14px;
  font-family: 'Poppins Light';
  border: 1px solid rgb(192, 199, 206);
  padding: 4px;
  color: rgb(192, 199, 206);
  word-wrap: none;
  margin-bottom: 5px;
}
.info__contacts {
  margin-top: 20px;
}
.info__context {
  margin-top: 20px;
}
.info__context strong {
  color: #ff4a57;
}
.info__context p {
  margin-top: 3px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}
@media (min-width: 285px) and (max-width: 380px) {
  .about {
    padding-top: 135px;
  }
  .common {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    color: white;
  }
  .mainHeader {
    font-size: 30px;
  }
  .about__info h1 {
    margin-top: 10px;
    font-size: 30px;
  }
  .about__info-p1 {
    font-size: 10px;
    margin: 10px 0px;
  }
  .about__info-p2 {
    font-size: 12px;
    padding-bottom: 15px;
    color: rgb(192, 199, 206);
  }
  .info__context {
    display: block;
    width: 30%;
    margin-top: 0px;
  }
  .info__context strong {
    font-size: 15px;
  }
  .info__context p {
    font-size: 11px;
  }
  .about__img {
    position: absolute;
    width: 155%;
    padding-top: 55px;
  }
  .info__context .col-6 {
    margin-left: 2px;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .about {
    padding-top: 135px;
  }
  .common {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    color: white;
  }
  .about__info h1 {
    margin-top: 10px;
  }
  .about__img {
    position: absolute;
    width: 155%;
    padding-top: 55px;
  }
  .info__context {
    display: block;
    margin-top: 0px;
  }
  .info__context strong {
    font-size: 15px;
  }
  .info__context p {
    font-size: 12px;
  }
  .info__context .col-6 {
    margin-left: 2px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    padding-top: 100px;
  }
  .about__info h1 {
    margin-top: 20px;
  }
  .info__context p {
    font-size: 12px;
  }
  .about__img {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .about {
    padding-top:100px;
  }
  .about__info h1 {
    margin-top: 20px;
  }
  .info__context p {
    font-size: 18px;
  }
  .about__img {
    width: 80%;
  }
  .info__context strong {
    font-size: 20px;
  }
}
